<!--<h1>Public::Customers#edit</h1>-->

<div class="container">
  <div class="row mb-2">
    <div class="col-2"><h4><span style="background-color:#d3d3d3;">会員情報編集</span></h4></div>
  </div>


  <table>
    <!--このurlを記載するのが正式な書き方。public/customers#updateのPathを書く-->
    <%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>
    <!--label forに同じ名前は付けられない。-->
    <!--ここでlabel forを使って関連付けることによって「氏名」や「フリガナ」をクリックすると枠が反応するようになる。ラジオボタンと同じようなシステム-->
      <!--label for(htmlの書き方）でもいいけど、railsの書き方はf.labelになる。コンパイアー(記述変換)されて最終的にはlabel forになるのでどっちでもいい-->
      <tr>
        <th width="150"><label for="inputName">氏名</label></th>
        <td>
          <%= f.text_field:last_name, autofocus: true, id:"inputName" %>
          <%= f.text_field:first_name, autofocus: true, id:"inputName", class: "ml-4" %>
        </td>
      </tr>
      <tr>
        <th><label for="inputNamekana">フリガナ</label></th>
        <td>
          <%= f.text_field:last_name_kana, autofocus: true, id:"inputNamekana" %>
          <%= f.text_field:first_name_kana, autofocus: true, id:"inputNamekana", class: "ml-4" %>
        </td>
      </tr>
      <tr>
        <th><label for="postal_code">郵便番号</label></th>
        <td><%= f.text_field:postal_code, autofocus: true, id:"postal_code" %></td>
      </tr>
      <tr>
        <th><label for="address">住所</label></th>
        <td><%= f.text_field:address, autofocus: true, id:"address",  size: 70 %></td>
      </tr>
      <tr>
        <th><label for="telephone_number">電話番号</label></th>
        <td><%= f.text_field:telephone_number, autofocus: true, id:"telephone_number" %></td>
      </tr>
      <tr>
        <th><label for="email">メールアドレス</label></th>
        <td><%= f.text_field:email, autofocus: true, id:"email" %></td>
      </tr>
      <tr>
        <th></th>
        <td>
          <%= f.submit '編集内容を保存', class: "btn btn-success btn-sm mt-3 w-50 mr-5" %>
          <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger btn-sm mt-3 ml-5" %>
          <!--退会確認画面へ-->
        </td>
      </tr>
    <% end %>
  </table>

</div>

