<!--<h5>Admin::Items#index</h5>-->

<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-2"></div><div class="col-2"><h4><span style="background-color:#d3d3d3;">商品一覧</span></h4></div>
    <!--ボタンマークつける-->
    <div class="col-6 text-right">
      <%= link_to "+", new_admin_item_path, class: "shadow rounded-circle" %>
      <!--うまく綺麗な○にならない-->
    </div>
  </div>

  <center>
    <div class="row" style="width: 70%">
      <table class="table table-sm">
        <thead class="thead-light">
          <div class="m-2">
          <tr>
            <th width="70">商品ID</th>
            <th width="250">商品名</th>
            <th width="100">税抜き価格</th>
            <th width="200">ジャンル</th>
            <th width="150">ステータス</th>
          </tr>
          </div>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item.id) %></td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.is_active %>
                販売中
                <% else %>
                販売停止中
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
  </center>
    <!--ページネーション-->
    <%= paginate @items %>

</div>