<!--<h5>Admin::Items#new</h5>-->


<div class="container-fluid">
  <div class="row mt-2 mb-3">
    <div class="col-3"></div><div class="col-3"><h4><span style="background-color:#d3d3d3;">商品新規登録</span></h4></div>
  </div>

  <center>
      <table>
        <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
        <!--urlはidmin/items#create-->
          <tr>
            <th width="160">商品画像</th>
            <td><%= f.file_field :image, accept: "image/*" %></td>
            <!--ここのサイズ変えられない。。後で確認する-->
          </tr>
        <tr>
          <th>商品名</th>
          <td><%= f.text_field :name, placeholder: "商品名", size: "35"  %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= f.text_area :introduction, placeholder: "ここに説明文を記述します", size: "35x5" %></td>
          <!--cols="35", size"35", size="縦ｘ横" width="35" これら×-->
        </tr>
        <tr>
          <th>ジャンル</th>
           <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), { include_blank: '--選択してください--'} %>
          </select>
        </tr>
        <tr>
          <th>税抜価格</th>
          <td><%= f.text_field :price, placeholder: "1000", size: "35" %></td>
        </tr>

        <tr>
          <th>販売ステータス</th>
          <td><%= f.radio_button :is_active, "true" %>販売中 <%= f.radio_button :is_active, "false" %>販売停止中</td>
        </tr>
        <tr>
          <th></th>
          <td>
            <div class="actions mt-3">
              <%= f.submit '新規登録', class: "btn btn-success w-50" %>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
  </center>

</div>