<!--<h5>Admin::Items#new</h5>-->

<div class="container-fluid">
  <div class="row mt-2 mb-3">
    <div class="col-3"></div><div class="col-3"><h4><span style="background-color:#d3d3d3;">商品新規登録</span></h4></div>
  </div>

  <center>
      <table>
        <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
        <!--urlはidmin/items#create-->
          <tr>
            <th width="160" align="left" valign="top">商品画像</th>
            <td class="pb-2"><%= f.file_field :image, accept: "image/*" %></td>
            <!--ここのサイズ変えられない。。後で確認する。メンター確認済-->
          </tr>
        <tr>
          <th align="left" valign="top">商品名</th>
          <td><%= f.text_field :name, placeholder: "商品名", size: "35", class: "w-100 mb-1"  %></td>
        </tr>
        <tr>
          <th align="left" valign="top">商品説明</th>
          <td><%= f.text_area :introduction, placeholder: "ここに説明文を記述します", class: "w-100 mb-1" %></td>
          <!--cols="35", size"35", size="縦ｘ横" width="35" これら×　上のtdタグに記述「class="pb-5"」して、全体の横幅を変えた-->
        </tr>
        <tr>
          <th align="left" valign="top">ジャンル</th>
           <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), { include_blank: '--選択してください--'}, class: "w-100 mb-1" %>
           <!--サイズ変更:「class: "w-100"」Bootstrapの時はclassの記述使う。セレクトボックスの内側から広げる感じで横幅を広げた-->
          </select>
        </tr>
        <tr>
          <th align="left" valign="top">税抜価格</th>
          <td><%= f.text_field :price, placeholder: "1000", class: "w-100 mb-1" %></td>
        </tr>

        <tr>
          <th align="left" valign="top">販売ステータス</th>
          <td><%= f.radio_button :is_active, "true" %>販売中 <%= f.radio_button :is_active, "false", class: "ml-3"%>販売停止中</td>
        </tr>
        <tr>
          <th></th>
          <td>
            <div class="actions mt-3">
              <%= f.submit '新規登録', class: "btn btn-success w-50" %>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
  </center>

</div>