<h1>Admin::Items#show</h1>

<h2>商品詳細</h2>

<%= image_tag @item.image, size: "100x100" %>

<table>
  <tr>
    <th>商品名</th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th>商品説明</th>
    <td><%= @item.introduction %></td>
  </tr>
  <tr>
    <th>ジャンル</th>
    <td><%= @item.genre.name %></td>
  </tr>
  <tr>
    <th>
      税込価格<br>(税抜価格）
    </th>
    <td><%= @item.price*1.1 %>  (<%= @item.price %>)円</td>
    <!--ここの数字うまく表示できない！後で編集する！！！ .floorで小数点以下切り捨て-->
  </tr>
  <tr>
    <th>販売ステータス</th>
    <td>
      <% if @item.is_active %>
      販売中
      <% else %>
      販売停止中
      <% end %>
    </td>
  </tr>
</table>

<%= link_to "編集する", edit_admin_item_path(@item.id) %>