<!--<h1> public/homes#Topページ </h1>-->

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="border border-dark d-inline-block p-4">
        <span class="border-bottom border-dark">ジャンル検索</span><br>
          <% @genres.each do |genre| %>
            <%= link_to genre.name, items_path(genre_id: genre.id) %><br>
              <!--idを指定して取り出したい時は↑こういう書き方になる？-->
              <!--(genre_id: genre.id)これ書かないとエラー出る。
              genre_idで検索をかけて、その中(左側のgenre_id)からgenre.idというのを探す。数に例えると分かりやすい-->
          <% end %>
      </div>
    </div>

    <div class="col-lg-9">

      <center>
        <div class="mt-1">
          <%= image_tag "top.image.cake.jpg", size: "550x230" %>
          <h4 class="text">
            <p style="text-align: left">
            <b>ようこそ、ながのCAKEへ！<br>
            <font size="2">
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。</b>
            </font>
          </p>
          </h4>
        </div>
      </center>


      <div class="mt-1"><h4>新着商品</h4></div>
        <div class="row">
            <!--div class="d-flex flex-row"は×-いらない->
            <!--d-flexは、画像の水平位置の横並び。tableを使わないと横並びになる。table使うと×-->
              <% @items.each do |item| %>
               <div class="col-lg-3">
                <%= link_to item_path(item.id) do %>
                <%= image_tag item.image, size: "150x110" %><br>
                <% end %>
                <span class="text-left d-block"><%= item.name %></span>
                <span class="text-left d-block">￥<%= (item.price*1.1).floor.to_s(:delimited) %></span>
                <!--"text-left d-block"は画像の下にテキストを持ってきて、そのテキストを左寄せする-->
                <!--"text-center"で文字を中央寄せ-->
              </div>
            <% end %>
        </div>
        <div class="text-right"><%= link_to "全ての商品を見る＞", items_path %></div>
    </div>

  </div>
</div>