<!--<h1>Admin::Customers#edit</h1>-->

<div class="container">
  <div class="row mb-4">
     <div class="col-8"><h4><span style="background-color:#d3d3d3;"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</span></h4></div>
  </div>

  <table>
    <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
    <!--urlは admin/items#updateのpathを記述(メンター確認済）-->
    <tr>
      <th width="170">会員ID</th>
      <td><%= @customer.id %></td>
    </tr>
    <tr>
      <th><label for="inputName">氏名</label></th>
      <td>
        <%= f.text_field:last_name, autofocus: true, id:"inputName" %>
        <%= f.text_field:first_name, autofocus: true, id:"inputName", class: "ml-4" %>
      </td>
    </tr>
    <tr>
      <th><label for="inputNamekana">フリガナ</label></th>
      <th>
        <%= f.text_field:last_name_kana, autofocus: true, id:"inputNamekana" %>
        <%= f.text_field:first_name_kana, autofocus: true, id:"inputNamekana", class: "ml-4" %>
      </th>
    </tr>
    <tr>
      <th><label for="postal_code">郵便番号</label></th>
      <td><%= f.text_field:postal_code, autofocus: true, id:"postal_code" %></td>
    </tr>
    <tr>
      <th><label for="address">住所</label></th>
      <td><%= f.text_field:address, autofocus: true, id:"address", class: "w-100" %></td>
    </tr>
    <tr>
      <th><label for="telephone_number">電話番号</label></th>
      <td><%= f.text_field:telephone_number, autofocus: true, id:"telephone_number" %></td>
    </tr>
    <tr>
      <th><label for="email">メールアドレス</label></th>
      <td><%= f.text_field:email, autofocus: true, id:"email" %></td>
    </tr>
    <tr>
      <th><label>会員ステータス</label></th>
      <td>
        <label><%= f.radio_button :is_deleted, "false" %>有効</label>
        <label><%= f.radio_button :is_deleted, "true", class: "ml-4"%>退会</label>
      </td>
    </tr>
    <tr>
      <th></th>
      <td><%= f.submit '変更を保存', class: "btn btn-success mt-3" %></td>
      <!--updateと遷移なし。Routing Error　No route matches [PATCH] "/admin"--メンターに確認・解決済-->
    </tr>
    <% end %>
  </table>
</div>
