<h1>Admin::Customers#index</h1>

<h2>会員一覧</h2>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
  <tr>
    <td>
    <%= customer.id %>
    </td>
    <td>
    <%= customer.last_name %><%= customer.first_name %>
    </td>
    <td>
    <%= customer.email %>
    </td>
    <td>
    <%= customer.is_deleted %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<!--ページネーション-->
<!--Q今ページネーション１Pの件数５にしている。１件にしたらちゃんと表示された。定数５の時表示されないのは問題ないか？何か解決策はあるのか？？-->
<%= paginate @customers %>


<!--Bookers2のView/books.indexをレイアウトの参照！！！-->