<!--<h1>Admin::Genres#index</h1>-->
<div class="container">
  <div class="row">
    <div class="col-5"><h4><span style="background-color:#d3d3d3;">ジャンル一覧・追加</span></h4></div>
  </div>

  <div class="row mt-3">
  <%= form_with model: Genre.new, url: admin_genres_path, method: :post do |f| %>
  <!--最初@genreにしていた。Genre.newの書き方は合っているか？-->
    <label for="inputName">ジャンル名</label>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder: "ジャンル名", class: "ml-3" %>
    <%= f.submit '新規登録', class: "btn btn-success w-40 ml-5" %>
  <% end %>
  </div>

  <div class="row" style="width: 25%">
    <table class="table table-sm">
      <thead class="thead-light">
        <tr>
          <th colspan="2">ジャンル</th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genre| %>
        <tr>
        　<th><%= genre.name %></th>
        　<td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success ml-5" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<%#= link_to "削除", admin_genre_path(genre.id), method: :delete %>
<!--消したいジャンルがあったため、臨時で作成してみた。要件にはないので削除-->