<h1>Public::Addresses#edit</h1>

<h2>配送先編集</h2>

<%= form_with model: @address, url: address_path, method: :patch do |f| %>
<label for="postal_code">郵便番号(ハイフンなし)</label>
<%= f.text_field :postal_code, autofocus: true, id:"postal_code" %><br>
<label for="address">住所</label>
<%= f.text_field :address, autofocus: true, id:"address" %><br>
<label for="name">宛名</label>
<%= f.text_field :name, autofocus: true, id:"name" %><br>

<%= f.submit '変更内容を保存', class: "btn btn-secondary" %>

<% end %>