<div class="container">
  <div class="row mb-4">
    <div class="col-2"></div><div class="col-2"><h4><span style="background-color:#d3d3d3;">ログイン</span></h4></div>
  </div>

  <div class="row mb-4">
    <div class="col-2"></div><div class="col-10"><h5><span style="background-color:#d3d3d3;">会員の方はこちらからログイン</span></h5></div>
  </div>


  <!--<center>-->
  <!--  <table>-->
  <!--    <%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
  <!--      <tr>-->
  <!--        <div class="field">-->
  <!--          <th width="170"><%#= f.label :email, "メールアドレス" %></th>-->
  <!--          <td><%#= f.email_field :email, autofocus: true, autocomplete: "email", size: "40" %></td>-->
  <!--        </div>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <div class="field">-->
  <!--          <th><%#= f.label :password, "パスワード" %></th>-->
  <!--          <td><%#= f.password_field :password, autocomplete: "current-password", size: "40" %></td>-->
  <!--        </div>-->
  <!--      </tr>-->

      <!--□remenber me ボタンは表示されていないので、ここではコメントアウト-->
        <%# if devise_mapping.rememberable? %>
          <!--<div class="field">-->
          <!--  <%#= f.check_box :remember_me %>-->
          <!--  <%#= f.label :remember_me %>-->
          <!--</div>-->
        <%# end %>
  <!--      <tr>-->
  <!--        <th></th>-->
  <!--        <td>-->
  <!--          <div class="actions">-->
  <!--            <%#= f.submit "ログイン", class: "btn btn-primary mt-3 mb-5 w-50 btn-sm" %>-->
  <!--          </div>-->
  <!--        </td>-->
  <!--      </tr>-->
  <!--    <%# end %>-->
  <!--  </table>-->
  <!--</center>-->

    <div class="row mb-4">
      <div class="col-2"></div>
      <div class="col-10">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field">
            <%= f.label :email, "メールアドレス", class: "w-120" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="field">
            <%= f.label :password, "パスワード", class: "w-120" %>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-primary mt-3 mb-5 btn-sm" %>
          </div>
      <% end %>
      </div>
    </div>



  <div class="row mb-4">
    <div class="col-2"></div><div class="col-10"><h5><span style="background-color:#d3d3d3;">会員登録がお済みでない方</span></h5></div>
    <div class="col-3"></div><div class="col-9"><%= render "public/shared/links" %>から新規登録を行ってください。</div>
  </div>

</div>

