<!--<h1>Public::Items#index</h1>-->
<div class="container">
  <div class="row">
    <div class="col-lg-3 mt-3">
      <div class="border border-dark d-inline-block p-4">
        <span class="border-bottom border-dark">ジャンル検索</span><br>
          <% @genres.each do |genre| %>
            <%= link_to genre.name, items_path(genre_id: genre.id) %><br>
              <!--idを指定して取り出したい時は↑こういう書き方になる？-->
              <!--(genre_id: genre.id)これ書かないとエラー出る。
              genre_idで検索をかけて、その中(左側のgenre_id)からgenre.idというのを探す。数に例えると分かりやすい-->
          <% end %>
      </div>
    </div>

    <div class="col-lg-9">
      <div class="row">
        <div class="d-flex align-items-end">
        <!--Bootstrap文字を下方揃え-->
          <% if params[:genre_id] %>
            <h4><%= @genre.name %>一覧</h4>
          <% else %>
            <h4>商品一覧</h4>
          <% end %>
          <h5>（全<%= @items.count %>件）</h5>
        </div>
      </div>


      <div class="row">
        <% @items.each do |item| %>
          <div class="col-lg-3 mt-1">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.image, size: "170x130" %><br>
            <% end %>
            <%= item.name %><br>
            ￥<%= (item.price*1.1).floor.to_s(:delimited) %>
          </div>
        <% end %>
        <!--No-imageの場合については未設定-->

        <div class="pagination justify-content-center">
          <%= paginate @items %>
        </div>
      </div>
    </div>

  </div>
</div>