<h1>Public::Items#index</h1>

ジャンル検索<br>
<% @genres.each do |genre| %>
    <%= link_to genre.name, items_path(genre_id: genre.id) %><br>
    <!--idを指定して取り出したい時は↑こういう書き方になる？-->
    <!--(genre_id: genre.id)これ書かないとエラー出る。genre.idを指定することでジャンル分けするみたいな？-->
<% end %>



<% if params[:genre_id] %>
  <%= @genre.name %>一覧<br>
<% else %>
  商品一覧<br>
<% end %>
全<%= @items.count %>件<br>



<% @items.each do |item| %>
  <%= link_to item_path(item.id) do %>
    <%= image_tag item.image, size: "190x150" %>
  <% end %><br>
  <%= item.name %><br>
  ￥<%= (item.price*1.1).floor %><br>
<% end %>
<!--No-imageの場合については未設定-->

