<h1>Public::Items#show</h1>

ジャンル検索<br>
<% @genres.each do |genre| %>
    <%= link_to genre.name, items_path(genre_id: genre.id) %><br>
    <!--idを指定して取り出したい時は↑こういう書き方になる？-->
    <!--(genre_id: genre.id)これ書かないとエラー出る。genre.idを指定することでジャンル分けするみたいな？-->
<% end %>


<%= image_tag @item.image, size: "190x150" %>
<h2><%= @item.name %></h2>
<h3><%= @item.introduction %></h3>
<h2>￥<%= (@item.price*1.1).floor %>(税込）</h2>


<!--個数選択ボタン--今ｆ定義してないよエラーでてる>
<%#= f.select :amount, *[1..3] %>

<%#= link_to "カートに入れる",  class: "btn btn-sm btn-success" %>

