<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--Bootstrap導入の為、上記記述をコメントアウトし、下記に変更-->
    <!--stylesheet_link_tagの場合cssファイルは、app/assets 配下のファイルを参照します。
　　stylesheet_pack_tagの場合は、app/javascript 配下のファイルを参照するようになります。-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--ここから上はもとから記述があった部分-->



  <body style="padding-top: 6rem">
  <!--ヘッダーに文字が隠れないように余白の設定-->
    <header>
      <nav class="fixed-top navbar navbar-expand-lg p-4 navbar-dark" style="background-color: #ffb6c1;">
    　  <div class="container">
          <div class="row">
            <!--ここの並び順大事！！横幅の適応とかが変わってくる-->
            <!--動的ヘッダーの作成-->
            <% if admin_signed_in? %>
            <!--管理者がログインした時-->

                <ul class="navbar-nav ml-auto">
                  <li class="nav-item ml-2">
                    <%= link_to "商品一覧", admin_items_path, class: "btn btn-outline-danger btn-sm" %>
                  </li>
                  <li class="nav-item ml-2">
                    <%= link_to '会員一覧', admin_customers_path, class: "btn btn-outline-danger btn-sm" %>
                  </li>
                  <li class="nav-item ml-2">
                    <%= link_to "注文履歴一覧", admin_path, class: "btn btn-outline-danger btn-sm" %>
                  </li>
                  <li class="nav-item ml-2">
                    <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-danger btn-sm" %>
                  </li>
                  <li class="nav-item ml-2">
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-danger btn-sm"  %>
                  </li>
                </ul>

              <% elsif customer_signed_in? %>
              <!--顧客がログインしている時-->
                ようこそ、<%= current_customer.last_name %>さん！
              <!--mlはmargin-leftという意味。左に余白ができて、右寄せになる.Q適応されないなんで？-->
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-2">
                  <%= link_to "マイページ", customers_my_page_path, class: "btn btn-outline-danger btn-sm" %>
                </li>
                <li class="nav-item ml-2">
                  <%= link_to '商品一覧', items_path, class: "btn btn-outline-danger btn-sm"  %>
                </li>
                <li class="nav-item ml-2">
                  <%= link_to "カート", cart_items_path, class: "btn btn-outline-danger btn-sm"  %>
                </li>
                <li class="nav-item ml-2">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-danger btn-sm"  %>
                </li>
              </ul>
              <% else %>
              <!--管理者・顧客がログインしていない時-->
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-2">
                  <%= link_to "About", about_path, class: "btn btn-outline-danger btn-sm" %>
                </li>
                <li class="nav-item ml-2">
                  <%= link_to '商品一覧', items_path, class: "btn btn-outline-danger btn-sm" %>
                </li>
                <li class="nav-item ml-2">
                  <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-danger btn-sm" %>
                </li>
                <li class="nav-item ml-2">
                  <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-danger btn-sm" %>
                </li>
              </ul>
            <% end %>
          </nav>
        </div>
      </div>
    </header>
    <%= yield %>
    <!--ここの意味あとで確認する。確かこれがないと情報を読み込まないとかなんとか-->

    <footer style="padding-top: 5rem">
    <!--フッターに文字が隠れないように余白の設定-->
      <nav class="fixed-bottom p-4" style="background-color: #ffb6c1;">
      </nav>
      </nav>
    </footer>

  </body>
</html>
